{% extends "homepage.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename="advanced.css") }}">
{% endblock %}

{% block left %}
{% endblock %}

{% block top %}
    <div id="navsearch">
        <form id="search" method="post" action="/popularity">
            <input type="text" name="query" placeholder="Search Books...">
            <input type="submit" value="GO">
        </form>
    </div>
{% endblock %}

{% block content %}
    <div id="main">
        <h1>Advanced Search</h1>
        <form id="advanced" method = "post" action="/advancedmagic">
            <label> Title:</label>
            <input type="text" name="title">
            <label> Author:</label>
            <input type="text" name="author">
            <label> Genre:</label>
            <input type="text" name="genre">
            <label></label>
            <input type="submit" value="Search">
        </form>
    </div>
{% endblock %}