{% extends "homepage.html" %}

{% block links %}
    <link rel="stylesheet" href="{{url_for('static', filename="printerpages.css")}}>
    <link rel="stylesheet" href="{{ url_for('static', filename="main.css") }}">
{% endblock %}

{% block content %}
    {% for printer in printers %}
    <h1 id="printers"> Printers of Model: {{printer[0]}} </h1>
        <table>
            <tr>
                <table>
                    <tr><td class="printerdata">Printer Name: {{printer[1]}}</td></tr>
                    <tr><td class="printerdata">Paper Type: {{printer[2]}}</td></tr>
                    <tr><td class="printerdata">Max Paper Level: {{printer[3]}}</td></tr>
                    <tr><td class="printerdata">Paper Level: {{printer[4]}}</td></tr>
                    <tr><td class="printerdata">Toner Level: {{printer[5]}}</td></tr>
                    <tr><td class="errors">Error Messages: {{printer[6]}}</td></tr>
                </table>
            </tr>
        </table>
    {% endfor %}

{% endblock %}