{% extends "advancedsearch.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename="searchresults.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="advanced.css") }}">
{% endblock %}

{% block left %}
    <div id="navbox">
        <ul>
            <li><a href="/">Search Again</a></li>
            <li><a href="/advanced">Advanced Search</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1 id="searchresults">Search Results: {{ query }}</h1>
        <table>
            {% for book in books %}
            <tr>
                <td><img src="{{ url_for('static', filename="book.png") }}"></td>
                <td>
                    <table>
                        <tr><td class="title">{{ book[titleIndex] }}</td></tr>
                        <tr><td class="nottitle">Author: {{ book[authorIndex] }}</td></tr>
                        <tr><td class="nottitle">Genre: {{ book[subjectIndex] }}</td></tr>
                        <tr><td class="nottitle"><a href={{ book[linkIndex] }}>{{ book[linkIndex] }}</a></td></tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}