<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Classic eBooks</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/advanced.css">
</head>
<body>
<div id="wrapper">
    <div id="leftcolumn">
        <div id="logo">
            <a href="/"><img id="logo" src="../static/projectgutenbergLogo.jpg"></a>
            <h2>Free Classic eBooks</h2>
        </div>
        <div>
        </div>
    </div>
    <div id="navsearch">
        <form id="search" action="">
            <input type="text" name="query" placeholder="Search Books...">
            <input type="submit" value="GO">
        </form>
    </div>
    <div id="content">
    <div id="absolute">
        <div id="main">
            <h1>Advanced Search</h1>
            <form id="advanced" action="">
                <label> Title:</label>
                <input type="text" name="title">
                <label> Author:</label>
                <input type="text" name="author">
                <label> Genre:</label>
                <input type="text" name="genre">
                <label> Language:</label>
                <input type="text" name="language">
                <label></label>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
    </div>
</div>
</body>
</html>